examples/__pycache__/
examples/all_bestmodel/
examples/all_start.sh
examples/all_wandbs/
examples/pkls/
examples/pred_wandbs/
examples/saved_model/
examples/start_predict.sh
examples/wandb/
dist/
*.egg-info/
*.pyc
*.pkl
saved_model
build/
.vscode/
data/assist2009
data/assist2012
data/algebra2005
data/bridge2algebra2006
data/statics2011
data/nips_task34
data/poj
data/slepemapy
data/assist2017
.ipynb_checkpoints
dev_tools
tmp*